In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os

db_string = 'mysql+mysqldb://root:root@127.0.0.1:2022/MLS'

engine = create_engine(db_string)

In [2]:
input_folder = 'G:/My Drive/GitHubProjects/MLS/data/data_clean/players'

all_files = [f"{input_folder}/{i}" for i in os.listdir(input_folder) if i.endswith('.csv')]


df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)

In [3]:
df.columns

Index(['id', 'date', 'name', 'age', 'height_cm', 'weight_kg', 'team',
       'contract_start', 'contract_end', 'position', 'foot', 'jersey_num',
       'wage_eur', 'value_eur', 'overall_rating', 'best_overall',
       'best_position', 'total_attacking', 'crossing', 'finishing',
       'heading_accuracy', 'short_passing', 'volleys', 'total_skill',
       'dribbling', 'curve', 'fk_accuracy', 'long_passing', 'ball_control',
       'total_movement', 'acceleration', 'sprint_speed', 'agility',
       'reactions', 'balance', 'total_power', 'shot_power', 'jumping',
       'stamina', 'long_shots', 'total_mentality', 'aggression',
       'interceptions', 'att._position', 'vision', 'penalties', 'composure',
       'total_defending', 'defensive_awareness', 'standing_tackle',
       'sliding_tackle', 'total_goalkeeping', 'gk_diving', 'gk_handling',
       'gk_kicking', 'gk_positioning', 'gk_reflexes', 'marking',
       'tactical_awareness', 'positioning', 'tackling'],
      dtype='object')

In [ ]:
## delete name, height_cm, weight_kg, team, contract_start, contract_end, position, foot, wage_eur, value_eur from stats

df2 = df.drop(columns=['name', 'height_cm', 'weight_kg', 'team', 'contract_start', 'contract_end', 'position', 'foot', 'wage_eur', 'value_eur'])

492066

In [ ]:
df2.to_sql('player_stats', con=engine, if_exists='replace', index=False)

In [4]:
df3 = df[['id', 'date', 'wage_eur', 'value_eur']]

In [5]:
df3.head()

       id        date  wage_eur  value_eur
0  254962  2025-07-17      4000   17000000
1  260732  2025-07-17      4000   11000000
2  262339  2025-07-17      5000   29000000
3  267872  2025-07-17      4000   15000000
4  189332  2025-07-17      9000   65000000

In [6]:
df3.to_sql('player_finance', con=engine, if_exists='replace', index=False)

492066