In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os

db_string = 'mysql+pymysql://root:root@127.0.0.1:2022/MLS'

engine = create_engine(db_string)

In [2]:
input_folder = 'G:/My Drive/GitHubProjects/MLS/data/data_clean/players'

all_files = [f"{input_folder}/{i}" for i in os.listdir(input_folder) if i.endswith('.csv')]


df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)

In [3]:
df.columns

Index(['id', 'date', 'name', 'age', 'height_cm', 'weight_kg', 'team',
       'contract_start', 'contract_end', 'position', 'foot', 'jersey_num',
       'wage_eur', 'value_eur', 'overall_rating', 'best_overall',
       'best_position', 'total_attacking', 'crossing', 'finishing',
       'heading_accuracy', 'short_passing', 'volleys', 'total_skill',
       'dribbling', 'curve', 'fk_accuracy', 'long_passing', 'ball_control',
       'total_movement', 'acceleration', 'sprint_speed', 'agility',
       'reactions', 'balance', 'total_power', 'shot_power', 'jumping',
       'stamina', 'long_shots', 'total_mentality', 'aggression',
       'interceptions', 'att._position', 'vision', 'penalties', 'composure',
       'total_defending', 'defensive_awareness', 'standing_tackle',
       'sliding_tackle', 'total_goalkeeping', 'gk_diving', 'gk_handling',
       'gk_kicking', 'gk_positioning', 'gk_reflexes', 'marking',
       'tactical_awareness', 'positioning', 'tackling'],
      dtype='object')

In [24]:
## delete name, height_cm, weight_kg, team, contract_start, contract_end, position, foot, wage_eur, value_eur from stats

df2 = df.drop(columns=['name', 'height_cm', 'weight_kg', 'team', 'contract_start', 'contract_end', 'position', 'foot', 'wage_eur', 'value_eur'])

## rename id to player_id
df2 = df2.rename(columns={'id': 'player_id'})

df2 = df2.rename(columns={'att._position': 'att_position'})

In [26]:
### check if all player_id and date combos are unique

if df2.duplicated(subset=['player_id', 'date']).any():
    print("There are duplicate player_id and date combinations.")

### see duplicate player_id and date combos

duplicates = df2[df2.duplicated(subset=['player_id', 'date'], keep=False)]
duplicates = duplicates.sort_values(by=['player_id', 'date'])
print(duplicates.head(10))

Empty DataFrame
Columns: [player_id, date, age, jersey_num, overall_rating, best_overall, best_position, total_attacking, crossing, finishing, heading_accuracy, short_passing, volleys, total_skill, dribbling, curve, fk_accuracy, long_passing, ball_control, total_movement, acceleration, sprint_speed, agility, reactions, balance, total_power, shot_power, jumping, stamina, long_shots, total_mentality, aggression, interceptions, att_position, vision, penalties, composure, total_defending, defensive_awareness, standing_tackle, sliding_tackle, total_goalkeeping, gk_diving, gk_handling, gk_kicking, gk_positioning, gk_reflexes, marking, tactical_awareness, positioning, tackling]
Index: []

[0 rows x 51 columns]

In [ ]:
### delete one of the duplicates
df2 = df2.drop_duplicates(subset=['player_id', 'date'], keep='first')

In [29]:
df2.to_sql('player_stats', con=engine, if_exists='append', index=False)

492063

In [30]:
df3 = df[['id', 'date', 'wage_eur', 'value_eur']]

df3 = df3.rename(columns={'id': 'player_id'})

In [31]:
df3.head()

   player_id        date  wage_eur  value_eur
0     254962  2025-07-17      4000   17000000
1     260732  2025-07-17      4000   11000000
2     262339  2025-07-17      5000   29000000
3     267872  2025-07-17      4000   15000000
4     189332  2025-07-17      9000   65000000

In [33]:
if df3.duplicated(subset=['player_id', 'date']).any():
    print("There are duplicate player_id and date combinations.")

### see duplicate player_id and date combos

duplicates2 = df3[df3.duplicated(subset=['player_id', 'date'], keep=False)]
duplicates2 = duplicates2.sort_values(by=['player_id', 'date'])
print(duplicates2.head(10))

There are duplicate player_id and date combinations.
        player_id        date  wage_eur  value_eur
160778     231886  2020-09-23      4000   14000000
247296     231886  2020-09-23      3000   17000000
39117      237075  2018-07-19      6000   21000000
300839     237075  2018-07-19      8000   19000000
62605      271053  2023-08-11      1000     300000
434671     271053  2023-08-11      1000     325000

In [34]:
df3 = df3.drop_duplicates(subset=['player_id', 'date'], keep='first')

In [35]:
df3.to_sql('player_finance', con=engine, if_exists='append', index=False)

492063